

.container{
    border:2px solid black;
    border-radius: 36px;
    border-color: gainsboro;
    
    
    padding:15px;
  

    display:flex;
    gap: 100px;
    
    
    align-items: center;

    



}

.image img{

    border:2px solid  gainsboro;;
    width:200px;
    height: 200px;
    border-radius:100px;


}

.remove-button{
color:white;
display: flex;
justify-content: center;
align-items: center;
background-color:  rgb(211, 7, 7);
width:60px;
height: 60px;
border-radius:30px;
font-size: 20px;   

}
.author-data{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
    height:200px;
    width: 400px;
    overflow: hidden;
    flex-wrap: wrap;
   
    text-overflow: ellipsis;

}


h3{
    margin-bottom: 2px;;
    
}