

header{
    width:100%;
    padding:10px;


    background-color: #2A7D2D;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 0;



    
}

h1{

    text-align: center;
    width: 30%;
    color:white;
}



.nav{

  

    display: flex;
    justify-content: center;
    align-items: center;
 
     color:white;
     width: 30%;
  
}

.nav ul{
 
    width: 70%;
  
    color:white;
    
    display: flex;

    justify-content: space-evenly;
    align-items: center;

}
li{
    color:white;
    list-style-type: none;
    font-weight: bold;
    
}

#search{
    padding:10px;
    border-radius: 10px;
    width:40%;
    outline:none;
    border-color:transparent ;






}