
<app-app-header [showNav]="false"></app-app-header>
<div  class="parent">
<div class="container">

    <div class="image">

        <img src={{author.authorImageUrl}} alt="image">
    </div>

    <div class="data">


        <div class="book-data">   
            <h2>{{author.fullName}}</h2>
            <h3> {{author.email}}</h3>
            
            <p>{{author.bio}}</p>
           
        
        </div>
        



    </div>

    



</div>

<div class="achievments">
<h2>Books Published</h2>

<div *ngIf="authorBooks.length>0"  class="books">

    <div *ngFor="let book of authorBooks" >
    <div class="small-image">

        <img src={{book.imageUrl}} alt="image">
        <h4>{{book.title}}</h4>
    </div>
</div>

</div>


     
</div>
<div *ngIf="authorBooks.length===0">
    <span>No books published yet</span>


</div>
</div>